@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
    }
}